@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    p {
        text-align: left;
        vertical-align: middle;
        margin-top: 1em;
        margin-bottom: 1em;
    }
</style>

<div class="w3-container w3-pale-red w3-leftbar w3-border-red">
    <p>
        Something went wrong...
    </p>
</div>