@model List<DomainLayer.ViewModels.BirthdayViewModel>
@using System.Globalization;
@{
    ViewData["Title"] = "AllBirthdays";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="w3-container">
    <ul class="w3-ul w3-card-4 w3-hoverable ">
        @foreach (var item in Model)
        {
            <li class="w3-bar" type="submit" onclick="document.location = '/Home/Details/@item.Id'">
                <img src=@if (item.ImageName != null) {@("~/Images/" + item.ImageName);}
            else {@("~/Images/img_avatar1.png")} asp-append-version="true" class="w3-bar-item w3-hide-small" style="height:50px">
                <span class="w3-large"><b>@item.PersoneName</b></span><br>
                <span>@item.BirthdayDate.ToString("dd MMMM", new CultureInfo("en-US"))</span>
            </li>
        }
    </ul>
</div>
